.form-control:focus {
    box-shadow: 0 0 10px 0 rgba(21, 173, 134, 0.5), 0 0 20px 0 rgba(1, 181, 223, 0.5) !important;
    transition: box-shadow 0.5s ease-out;
}

.separator {
    height: 2px; /* Adjust the height of the line as needed */
    width: 100%; /* Make it span the entire width of its container */
    background: linear-gradient(to right, #01b5df 0%, #15ad86 50%, #01b5df 100%);
    margin: 20px 0px 10px 0; /* Adjust the margin as needed */
}

.searchBox {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button.searchButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

button.searchButton:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}

.btn {
    padding: 10px 25px;
}

.btn-primary {
    /* background: linear-gradient(to right, #15ad86, #01b5df); */
    border: 0px;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #15ad86 50%, #01b5df 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.btn-secondary {
    border: 0px;
    background: #01b5df;
}
.btn-secondary:hover {
    background: #0f98b8;
}
.btn-primary:hover {
    background-position: left;
}

#account-links > .nav-item > a {
    color: #02b5dc !important;
}
#account-links > .nav-item > a.nav-link.active {
    color: #fff !important;
}

.form-check-input[type="checkbox"]:checked {
    background-color: #01b5df;
    border-color: #01b5df !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(1, 181, 223, 0.6); /* Change the focus border color to #01b5df with transparency */
}

.form-check-input[type="checkbox"]:not(:checked) {
    background-color: white;
}
