/* Styles for the jumbotron container */
.jumbotron-container {
    position: relative;
    width: 100%;
    height: 400px; /* You can adjust the height as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the background image */
.jumbotron-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

.hands-up {
    background-image: url('../images/event-hands-raising.jpg');
}
.balloons {
    background-image: url('../images/balloons.jpg');
}
.conference {
    background-image: url('../images/conference-room.jpg');
}

.jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.jumbotron-text {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

.jumbotron-btn {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.btn-cool-ocean {
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(to right, #15ad86, #01b5df);
    text-decoration: none;
}
    .btn-cool-ocean:hover {
        color: #fff;
    }
