@model EventViewModel
@{
    ViewBag.Title = "Create";
    var selectList = SelectListHelper.GenerateSelectList(ViewBag.EventTypes, "Name", "EventTypeId");
}

<div class="jumbotron-container mb-3" id="jumbotron">
    <div class="jumbotron-background conference"></div>
    <div class="jumbotron-overlay"></div>
    <div class="jumbotron-text">
        <p class="display-2">Get Your Event Started</p>
    </div>
</div>
<div class="container">
    <form asp-action="Create" enctype="multipart/form-data">
        <p class="fs-3 mb-1">Basic Information</p>
        <div class="form-floating mb-2">
            <input asp-for="Name" class="form-control" placeholder="What should we call it by?"/>
            <label>Name</label>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Address" class="form-control" placeholder="Where is it?" />
            <label>Venue Address</label>
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="PhoneNumber" class="form-control" placeholder="Contact?" />
            <label>Venue Number (Optional)</label>
            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="form-floating mb-2">
            <select asp-items="selectList" class="form-control" asp-for="TypeId">
                <option hidden value="">-- Select an Event Type --</option>
            </select>
            <label>Event Type</label>
            <span class="text-danger" asp-validation-for="TypeId"></span>
        </div>
        <div class="form-floating">
            <textarea asp-for="Description" class="form-control" placeholder="Tell us what's it about?"
                style="height: 100px; resize: none;"></textarea>
            <label>Description</label>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="separator"></div>
        <p class="fs-3 mb-1">When is it?</p>
        <div class="form-floating mb-2">
            <input asp-for="StartTime" class="form-control" placeholder="What should we call it by?"/>
            <label>Start Date & Time</label>
            <span class="text-danger" asp-validation-for="StartTime"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="EndTime" class="form-control" placeholder="What should we call it by?" />
            <label>End Date & Time</label>
            <span class="text-danger" asp-validation-for="EndTime"></span>
        </div>
        <div class="separator"></div>
        <p class="fs-3 mb-1 align-top">Who's Invited?</p>
        <div class="d-flex">
            <div class="form-check me-3 ps-0">
                @Html.RadioButtonFor(model => model.IsEveryoneInvited, true, new { @id="true"})
                <label for="true">Everyone</label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(model => model.IsEveryoneInvited, false, new { @id = "false" })
                <label for="false">Invite Only</label>
            </div>
        </div>
        <span class="text-danger" asp-validation-for="IsEveryoneInvited"></span>
        <div class="separator"></div>
        <p class="fs-3 mb-1">Make your Event Standout</p>
        <div class="file-upload-form">
            <label for="file" class="file-upload-label">
                <div class="file-upload-design" id="image-preview">
                    <i class="fa-solid fa-image"></i>
                    @if(Model.BannerImage == null)
                    {
                        <p>Drag and Drop</p>
                        <p>or</p>
                    }
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <span class="browse-button">Browse files</span>
                </div>
                <input id="file" type="file" accept="image/*" onchange="updatePreview(this)" asp-for="BannerImage" />
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            Create
        </button>
    </form>
</div>

<script>
    function updatePreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('image-preview').innerHTML = '<img width="150px" src="' + e.target.result + '" />';
                document.querySelector('.browse-button').textContent = input.files[0].name;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
