@model EventViewModel
@{
    ViewBag.Title = "Create";
    var selectList = SelectListHelper.GenerateSelectList(ViewBag.EventTypes, "Name", "EventTypeId");
}

<div class="jumbotron-container mb-3" id="jumbotron">
    <div class="jumbotron-background conference"></div>
    <div class="jumbotron-overlay"></div>
    <div class="jumbotron-text">
        <p class="display-2">Get Your Event Started</p>
    </div>
</div>
<div class="container">
    <form asp-action="Create" enctype="multipart/form-data">
        <p class="fs-3 mb-1">Basic Information</p>
        <div class="form-floating mb-2">
            <input asp-for="Name" class="form-control" placeholder="What should we call it by?"/>
            <label>Name</label>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Address" class="form-control" placeholder="Where is it?" />
            <label>Venue Address</label>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="PhoneNumber" class="form-control" placeholder="Contact?" />
            <label>Venue Number (Optional)</label>
        </div>
        <div class="form-floating mb-2">
            <select asp-items="selectList" class="form-control" asp-for="TypeId">
                <option hidden value="">-- Select an Event Type --</option>
            </select>
            <label>Event Type</label>
        </div>
        <div class="form-floating">
            <textarea asp-for="Description" class="form-control" placeholder="Tell us what's it about?"
                style="height: 100px; resize: none;"></textarea>
            <label>Description</label>
        </div>
        <div class="separator"></div>
        <p class="fs-3 mb-1">When is it?</p>
        <div class="form-floating mb-2">
            <input asp-for="StartTime" class="form-control" placeholder="What should we call it by?"/>
            <label>Start Date & Time</label>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="EndTime" class="form-control" placeholder="What should we call it by?" />
            <label>End Date & Time</label>
        </div>
        <div class="separator"></div>
        <p class="fs-3 mb-1 align-top">Who's Invited?</p>
        <div class="d-flex">
            <div class="form-check me-3 ps-0">
                @Html.RadioButtonFor(model => model.IsEveryoneInvited, true, new { @id="true"})
                <label for="true">Everyone</label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(model => model.IsEveryoneInvited, false, new { @id = "false" })
                <label for="false">Invite Only</label>
            </div>
        </div>
        <div class="separator"></div>
        <p class="fs-3 mb-1">Make your Event Standout</p>
        <div class="d-flex row">
            <div class="col-sm-4">
                <p class="mb-0">Upload an Event Icon</p>
                <input placeholder="f" id="ICON_IMG" asp-for="IconImage" accept="image/*" />
            </div>
            <div class="col-sm-8">
                <p class="mb-0">Upload an Event Banner</p>
                <input placeholder="f" id="BANNER_IMG" asp-for="BannerImage" accept="image/*" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            Create
        </button>
    </form>
</div>
