@model Event
@{
    ViewBag.Title = "Current Events";
}

<div class="jumbotron-container mb-3" id="jumbotron">
    <div class="jumbotron-background balloons"></div>
    <div class="jumbotron-overlay"></div>
    <div class="jumbotron-text">
        <p class="display-2">View Events Here</p>
        <form>
            <div class="searchBox">
                <input class="searchInput" type="text" name="" placeholder="Search for a great time">
                <button class="searchButton" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-between">
        <div class="col-md-5">
            <a class="card" asp-controller="Event">
                <div class="card-img-container mb-0">
                    <img src="~/images/balloons.jpg" class="card-img-top" alt="..." />
                </div>
                <div class="card-body">
                    <p class="mb-0"><i class="fa-regular fa-calendar"></i> 4/10/2024</p>
                    <h5 class="card-title fw-bold mb-0">Some Super Awesome Event</h5>
                    <p class="mb-1">ADDRESS</p>
                    <p><i class="fa-solid fa-users"></i> 4 interested</p>
                </div>
            </a>
        </div>
    </div>
</div>

