@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron-container" id="jumbotron">
    <div class="jumbotron-background"></div>
    <div class="jumbotron-overlay"></div>
    <div class="jumbotron-text">
        <p class="display-2 mb-5">Make Your Perfect Event. Everytime.</p>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn-cool-ocean jumbotron-btn p-3">
                Create an Event!
            </a>
        }
        else
        {
            <a class="btn-cool-ocean jumbotron-btn p-3" asp-area="Identity" asp-page="/Account/Register">
                Get Started Here!
            </a>
        }
    </div>
</div>
